body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, Sans-serif;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

h1 {
  font-size: 20px;
  line-height: 30px;
}

img {
    left: 200px;
}

h2 {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #2dc4b2;
}

#console {
  position: absolute;
  width: 240px;
  margin: 10px;
  padding: 10px 20px;
  height: 320;
  background-color: white;
}
.session {
  top: 300px;
  margin-bottom: 20px;
}

.row {
  top: 300px;
  height: 12px;
  width: 100%;
}

.colors {
  background: linear-gradient(to right, blue, green 40%, red);
  margin-bottom: 5px;
}

.label {
    
  width: 9%;
  display: inline-block;
  text-align: center;
}

button {
    position: absolute;
    width: 50px;
    left: 50%;
    transform: translateX(-50%);
    color: #555;
    background: none;
    border: none;
    font-family: Lato;
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    transition: background-color 0.3s, color 0.3s;
}

button:hover { font-weight: 600; }
button:hover i { margin-right: 20px; }

button:focus {
    outline: none;
}

i {
    color: #EB4D4D;
    display: inline-block;
    margin-right: 15px;
    font-size: 32px;
    line-height: 1;
    vertical-align: text-top;
    margin-top: -4px;
    transition: margin 0.3s;
}

.btn-new { 
	top: 170px; 
	left: 60;
	border-style: solid;
	width: 20px;
	height: 18px;
	border-width: 10px 0px 10px 20px;
	border-color: transparent transparent transparent #555;
}

.btn-new:hover{
	border-color: transparent transparent transparent #202020; 
}
.btn-pause { 
	top: 170px; 
	left: 130px;
	width: 20px;
	height: 20px;
	border-style: double; 
	border-width: 0px 0px 0px 15px;
	border-color: #555;

}

.btn-reset { top: 170px; left: 200px;}

.material-icons:hover:{
	color:#202020;
}

.new-data {top: 290px; left: 200px;}


.mapboxgl-popup {
        max-width: 400px;
        font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}


/* Dropdown Button */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    margin-left: 100px;
    width: 150px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

